".source.php":

  'Class as static for WordPress':
    prefix: 'class-start-wp static'
    body: """
      /**
       * Description class $1
       */
      class WP_Class_Static {

        public static function init(){
          // init code
        }

      }

    """

  'Function for static class in WordPress':
    prefix: 'function for static class - WPCS'
    body: """
      /**
       * Description
       */
      public static function name_function(){
        // code $1
      }

    """

  'Function for static class in PHP':
    prefix: 'function for static class - PSR'
    body: """
      /**
       * Description
       */
      public static function nameFunction(){
        // code $1
      }

    """
