".source.php":
  "function: wc_get_order($order_id)":
    prefix: "wc_get_order($order_id)"
    body: "wc_get_order($order_id)"
  "function: is_account_page()":
    prefix: "is_account_page()"
    body: "is_account_page(${1})"
  "function: is_checkout()":
    prefix: "is_checkout()"
    body: "is_checkout(${1})"
  "function: is_product()":
    prefix: "is_product()"
    body: "is_product(${1})"
