".text.html":

  'Start Plugin for WordPress':
    prefix: 'plugin-wp-start'
    body: """
      <?php
      /*
      * Plugin Name: $1
      * Description: $2
      * Author: ${TM_NAME}
      * Author URI: ${TM_HOMEPAGE}
      * Version: 0.1
      */
    """

  'Readme.txt for WordPress':
    prefix: 'readme-wp-plugin'
    body: '=== ${1:Plugin Name} ===\nContributors: ${TM_WP_LOGIN}\nDonate link: ${TM_HOMEPAGE}\nTags: ${2:tag, tag}\nRequires at least: ${3:2.5}\nTested up to: ${4:2.8}\nStable tag: ${5:0.1}\n\n${6:Short description}\n\n== Description ==\n\n${7:Short description}\n\n== Installation ==\n\n1. Upload the \\`${8:plugin}\\` folder to the \\`/wp-content/plugins/\\` directory\n1. Activate the plugin through the \'Plugins\' menu in WordPress\n1. $9\n\n== Changelog ==\n\n= $5 =\n* Initial release.'
